.app {
  height: 100vh;
  background: linear-gradient(180deg, rgba(243, 149, 150, 0.6633) 0%, rgba(243, 149, 177, 0.0693) 100%);
}

.journal-container {
  display: flex;
  justify-content: center;
  
}


.buttons, .dbuttons, .ebuttons {
  margin-top: 10px;
  background: #c4a87f; 
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border-color: rgb(245, 242, 248);
}
.journal-field {
  background: rgba(173, 139, 88, 0.34);
}
.mission-bubble {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  margin-left:375px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  width: 497px;
  height: 474px;

background: rgba(173, 139, 88, 0.25);
border: 2px solid #AD8B58;
box-sizing: border-box;
box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.25);
border-radius: 356.5px;
}


.lyfebox-title {
  line-height: 750px;
  margin-top: -15px;
  margin-left: 460px;
  position: absolute;
  text-align: center;
  font-family: fantasy;
  font-size: 85px;
  
  color: rgba(110, 98, 98, 0.9);
}
.lyfebox-bubble {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  margin-left: 375px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  width: 497px;
  height: 474px;
  background: rgba(173, 139, 88, 0.25);
  border: 2px solid #AD8B58;
  box-sizing: border-box;
  box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.25);
  border-radius: 356.5px;
  color:rgba(110, 98, 98, 0.9);
}
.mission {
  font-size: 55px;
  line-height: 300px;
  margin-top: -15px;
  margin-left: 100px;
  position: absolute;
  text-align: center;
  font-family: fantasy;
  color: rgba(110, 98, 98, 0.9);
}
.missionp {
  line-height: 40px;
  margin-top: -25px;
  margin-left: 40px;
  position: absolute;
  text-align: center;
  font-family: fantasy;
  font-size: 18px;
  top: 50%;
  width: 430px;
  height: 474px;
  color: rgba(110, 98, 98, 0.9);
}
.center-quote, .qod, .gratefulp{
margin-top: 15px;;
display: flex;
justify-content: center;
font-family: fantasy;
color: rgb(143, 122, 83);
}

.nav-barlyfe{
  color: rgba(110, 98, 98, 0.9);
}

.journalies-input{
  height:200px;
  width: 75%;
  margin-left:50px;
}

/* bubble divs lyfebox */
.bubble1 {
  position: absolute;
  width: 48px;
  height: 44px;
  margin-left: 880px;
  margin-top: 80px;
  
  background: rgba(254, 248, 248, 0.66);
  border: 1px solid #AD8B58;
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}
/* brownbubble */
.bubble2 {
  position: absolute;
  width: 48px;
  height: 44px;
  margin-left: 250px;
  margin-top: 500px;
  
  background: rgba(173, 139, 88, 0.48);
  border: 1px solid rgba(254, 248, 248, 0.99);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}
/* topbrownbubble */
.bubble3 {
  position: absolute;
  width: 48px;
  height: 44px;
  margin-left: 300px;
  margin-top: 75px;
  
  background: rgba(173, 139, 88, 0.48);
  border: 1px solid rgba(254, 248, 248, 0.99);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}
/* large tan bubble */
.bubble4 {
  position: absolute;
  width: 48px;
  height: 44px;
  margin-left: 880px;
  margin-top: 500px;
  
  background: rgba(173, 139, 88, 0.48)rgba(254, 248, 248, 0.99);
  border: 1px solid rgba(173, 139, 88, 0.48);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}
/* rightbubble */
.bubble5 {
  position: absolute;
  width: 55px;
  height: 56px;
  margin-left: 990px;
  margin-top: 300px;
  
  background: rgba(173, 139, 88, 0.48);
  border: 1px solid rgba(254, 248, 248, 0.99);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}
/* whitebubble right */
.bubble6 {
  position: absolute;
  width: 55px;
  height: 56px;
  margin-left: 160px;
  margin-top: 230px;
  
  background: rgba(254, 248, 248, 0.99);
  border: 1px solid rgba(173, 139, 88, 0.48);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}
/* bubble divs mission */
.bubble7 {
  position: absolute;
  width: 55px;
  height: 56px;
  margin-left: 450px;
  margin-top: 75px;
  
  background: rgba(173, 139, 88, 0.48);
  border: 1px solid rgba(254, 248, 248, 0.99);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}
.bubble8 {
  position: absolute;
  width: 165px;
  height: 164px;
  margin-left: 2px;
  margin-top: 350px;
  
  background: rgba(254, 248, 248, 0.99);
  border: 1px solid rgba(173, 139, 88, 0.48);
  box-sizing: border-box;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 158px;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}
